<RadzenRow Style="width: 400px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); border: 1px solid #e9e9e9; border-radius: 4px">
    <RadzenColumn SizeMD="4">
        <RadzenStack JustifyContent="JustifyContent.Stretch">
            <CarouselComponent Id="@($"adb-car-{Context.AdboardId}")" Images="@Context.AdboardImages.Select(x => x.Image)" Style="object-fit: cover;" Height="210px" Width="100%" />
        </RadzenStack>
    </RadzenColumn>
    <RadzenColumn SizeMD="8">
        <RadzenRow>
            <RadzenColumn Size="12">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" class="rz-mb-1">
                    <RadzenText Text="@($"#{Context.AdboardId}")" TextStyle="TextStyle.H5" class="rz-mb-0" />
                    @{
                        var status = Status();
                    }
                    <StatusComponent Status="@status?.Item1" LastUpdated="@status?.Item2" />
                </RadzenStack>
                <RadzenStack Gap="0" AlignItems="AlignItems.Start">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap">
                        <RadzenText Text="@(String.IsNullOrEmpty(Context.SignName) ? "NA" : Context.SignName)" TextStyle="TextStyle.Subtitle1" Style="font-weight: 500" class="rz-mb-0 rz-mr-2" />
                        <RadzenBadge Text="@Context.Category.CategoryName.ToUpper()" Style="@((String.IsNullOrEmpty(Context.Category.CategoryColor) ? "" : $"background-color:{Context.Category.CategoryColor}") + ";font-weight:600")" class="rz-py-05 rz-px-1" />
                    </RadzenStack>
                    <RadzenText Text="@($"{Context.CityName} {Context.StateName}")" TextStyle="TextStyle.Overline" class="rz-mt-1" />

                </RadzenStack>

                <RadzenStack Gap="0.5rem" class="rz-mb-3" Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Visible="@(Actions != null)">
                    @Actions(Context)
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow>
            <RadzenColumn Size="12">
                <table>
                    <tr>
                        <td>
                            <RadzenText Text="Rate (Base)" TextStyle="TextStyle.Caption" class="rz-mb-05" />
                        </td>
                        <td>
                            <RadzenText Text="@($"₹{(Context.BaseRatePerSecond ?? 0):F2}/s")" TextStyle="TextStyle.Caption" class="rz-mb-05" Style="font-weight:600" />
                        </td>
                    </tr>
                    @if (Context.Motherboard != null)
                    {
                        <tr>
                            <td style="vertical-align: top">
                                <RadzenText Text="Motherboard" TextStyle="TextStyle.Caption" class="rz-mb-05 rz-mr-2" />
                            </td>
                            <td>
                                <RadzenStack Orientation="Orientation.Vertical" Gap="0" class="rz-mt-05">
                                    <RadzenText Text="@($"{Context.Motherboard.Brand?.BrandName ?? string.Empty} {Context.Motherboard.Model}")" TextStyle="TextStyle.Caption" class="rz-mb-05" Style="font-weight:600" />
                                </RadzenStack>
                            </td>
                        </tr>
                    }
                    @if (Context.Display != null)
                    {
                        <tr>
                            <td style="vertical-align: top">
                                <RadzenText Text="Display" TextStyle="TextStyle.Caption" class="rz-mb-05" />
                            </td>
                            <td>
                                <RadzenStack Orientation="Orientation.Vertical" Gap="0" class="rz-mt-05">
                                    <RadzenText Text="@($"{Context.Display.Brand?.BrandName ?? string.Empty} {Context.Display.Model}")" TextStyle="TextStyle.Caption" class="rz-mb-05" Style="font-weight:600" />
                                    <RadzenText Text="@($"Size: {Context.Display.ScreenWidth}x{Context.Display.ScreenHeight}cm")" TextStyle="TextStyle.Caption" class="rz-mb-05" Style="font-size: 11px" />
                                </RadzenStack>
                            </td>
                        </tr>
                    }
                </table>
            </RadzenColumn>
        </RadzenRow>
    </RadzenColumn>
    @* <RadzenColumn>
        <RadzenGoogleMap ApiKey="AIzaSyB2xbs8gsQDznVLM0diiR89jQ19t-JSabg" Zoom="15" Center="@(new GoogleMapPosition() { Lat = Context.Latitude, Lng = Context.Longitude })">
            <Markers>
                <RadzenGoogleMapMarker Title="@($"#{Context.AdboardId}")" Position="@(new GoogleMapPosition() { Lat = Context.Latitude, Lng = Context.Longitude })" />
            </Markers>
        </RadzenGoogleMap>
    </RadzenColumn> *@
</RadzenRow>
<style>
    .rz-menuitem {
        padding: 0.5rem;
    }

        .rz-menuitem .rz-menuitem-icon {
            font-size: 18px;
        }

</style>