@inject DialogService DialogService

<RadzenTemplateForm TItem="DOOH.Server.Models.DOOHDB.CampaignSchedule" Data="@_schedule" Submit=@OnSubmit Visible="@(_schedule != null)">
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Rotation" />
        </div>
        <div class="col-md-9">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center" class="w-100" Gap="0.5rem">
                <RadzenButton Icon="remove" Size="ButtonSize.Small" Click="@((args) => _schedule.Rotation -= 1)" />
                <RadzenNumeric class="rotation-input" @bind-Value="@_schedule.Rotation" Name="Budget" Min="0" Max="100" Style="text-align: center; width: 84px; max-width: 120px; appearance: none; border: none; font-size: 14px; font-weight: bold;" />
                <RadzenButton Icon="add" Size="ButtonSize.Small" Click="@((args) => _schedule.Rotation += 1)" />
            </RadzenStack>
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="Start" />
        </div>
        <div class="col-md-9">
            <RadzenDatePicker @bind-Value="@_schedule.Start" Name="Start" ShowTime="true" class="w-100" />
        </div>
    </div>
    <div class="row" style="margin-bottom: 16px">
        <div class="col-md-3">
            <RadzenLabel Text="End" />
        </div>
        <div class="col-md-9">
            <RadzenDatePicker Name="End" @bind-Value="@_schedule.End" ShowTime="true" class="w-100" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
                <RadzenButton ButtonType="ButtonType.Submit" Text="Save" BusyText="Saving" IsBusy="@IsSaving" />
            </RadzenStack>
        </div>
    </div>
</RadzenTemplateForm>
<style>

    .rotation-input input{
        border: none;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }
    .rotation-input .rz-spinner input[type=number], .rz-spinner input[type=text] {
        padding: 0;
    }
    div.rz-dialog{
        width: 330px !important;
    }
</style>