<h3>Review</h3>
<RadzenRow>
    <RadzenColumn SizeMD="8">
        <RadzenFieldset Text="Summary">
            <RadzenStack Gap="0.5rem" JustifyContent="Radzen.JustifyContent.Start" AlignItems="Radzen.AlignItems.Start">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Gap="0.5rem">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                        <RadzenIcon Icon="date_range" Style="font-size: 16px" />
                        <RadzenText Text="Date" TextStyle="TextStyle.Body2" class="rz-mb-0" />
                    </RadzenStack>
                    <RadzenText Text="@($"{Campaign.StartDate:d} to {(Campaign.EndDate != null ? $"{Campaign.EndDate:d}" : "Ongoing")}")" TextStyle="TextStyle.Body2" class="rz-mb-0" Style="font-weight: 500;" />
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Gap="1rem">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                        <RadzenIcon Icon="currency_rupee" Style="font-size: 16px" />
                        <RadzenText Text="Budget" TextStyle="TextStyle.Body2" class="rz-mb-0" />
                    </RadzenStack>
                    <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="Radzen.AlignItems.Center" Wrap="FlexWrap.Wrap">
                        <RadzenText Text="@($"{Campaign.Budget}")" TextStyle="TextStyle.Body2" class="rz-mb-0" Style="font-weight: bold;" />
                        <RadzenText Text="@(Campaign.BudgetType == 2 ? "per day" : "total")" TextStyle="TextStyle.Caption" class="rz-mb-0 rz-px-2 rz-py-05" Style="font-size: 12px; font-weight: 500; border-radius: 4px; background-color: grey; color: #ffffff" />
                    </RadzenStack>
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" @onclick="@OnLocationClick" Style="cursor: pointer;">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                        <RadzenIcon Icon="location_on" Style="font-size: 16px" />
                        <RadzenText Text="Locations" TextStyle="TextStyle.Body2" class="rz-mb-0" />
                    </RadzenStack>
                    <RadzenText Text="@($"{Campaign.CampaignAdboards.Count}")" TextStyle="TextStyle.Body2" class="rz-mb-0" Style="font-weight: 500;" />
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                        <RadzenIcon Icon="attach_file" Style="font-size: 16px" />
                        <RadzenText Text="Ads" TextStyle="TextStyle.Body2" class="rz-mb-0" />
                    </RadzenStack>
                    <RadzenText Text="@($"{Campaign.Advertisements.Count}")" TextStyle="TextStyle.Body2" class="rz-mb-0" Style="font-weight: 500;" />
                    @* <RadzenButton Icon="info" Variant="Variant.Text" Size="ButtonSize.Small" Style="padding: 2px" /> *@
                </RadzenStack>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                        <RadzenIcon Icon="browse_gallery" Style="font-size: 16px" />
                        <RadzenText Text="Duration" TextStyle="TextStyle.Body2" class="rz-mb-0" />
                    </RadzenStack>
                    <RadzenText Text="@($"{Campaign.Advertisements.Select(x => Math.Round(x.Duration)).Sum()} sec")" TextStyle="TextStyle.Body2" class="rz-mb-0" Style="font-weight: 500;" />
                    @* <RadzenButton Icon="more" Variant="Variant.Text" Size="ButtonSize.ExtraSmall" /> *@
                </RadzenStack>
            </RadzenStack>
        </RadzenFieldset>
        <RadzenFieldset Text="Disclaimer">
            @*Static Text*@
            
        </RadzenFieldset>
    </RadzenColumn>
    <RadzenColumn SizeMD="4">
        <RadzenStack JustifyContent="Radzen.JustifyContent.Center" AlignItems="Radzen.AlignItems.Center" class="w-100">
            <CarouselComponent CurrentIndex="@currentIndex" Images="@Images" Width="auto" Height="400px" Style="display: block; object-fit: cover; border:solid 1px #d5d5d5;">
                <Overlay>
                    <RadzenButton Icon="play_arrow" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Large" Variant="Variant.Text" class="rz-border-radius-8 custom-center-icon-button" Click="@((args) => OnHoverClick(args, CurrentImage))" Visible="@IsCurrentImageVisible" />
                    <RadzenButton Size="ButtonSize.ExtraSmall" Variant="Variant.Filled" ButtonStyle="ButtonStyle.Light" Icon="chevron_left" class="nav-button left-button" Click="PreviousImage" Visible="IsPreviousButtonVisible"/>
                    <RadzenButton Size="ButtonSize.ExtraSmall" Variant="Variant.Filled" ButtonStyle="ButtonStyle.Light" Icon="chevron_right" class="nav-button right-button" Click="NextImage" Visible="IsNextButtonVisible"/>
                </Overlay>
            </CarouselComponent>
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>
<style>
    .custom-center-icon-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .nav-button {
        position: absolute;
        bottom: 0;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 50%;
        padding: 0.5rem;
    }
    
    
    .left-button {
        left: 10px;
    }
    
    .right-button {
        right: 10px;
    }
</style>